<div style="display: flex; justify-content: center; width: 100%;">
    <mat-card class="input-card">
        <!-- <mat-card-content>Simple card</mat-card-content> -->
        <div class="titlebar">
            <div *ngIf="!show || show" (click)="showing()">
                <input type="text" placeholder="Title" [(ngModel)]="title">
            </div>
            <div class="iconbar" *ngIf="!show">
                <img src="../../../assets/create-1.svg">
                <img src="../../../assets/create-2.svg">
                <img src="../../../assets/create-3.svg">
            </div>
            <div class="iconbar-2" *ngIf="show">
                <img src="../../../assets/create-4.svg" >
            </div>
        </div>
        <div *ngIf="show">
            <input type="text" placeholder="Description" [(ngModel)]="description" class="second-input">
        </div>
        <div *ngIf="show" class="iconbar-3">
            <div class="main-container">
                <img src="../../../assets/icon-1.svg" class="img-6">
                <img src="../../../assets/icon-2.svg" class="img-6">
                <img src="../../../assets/icon-3.svg" class="img-6">
                <img src="../../../assets/icon-4.svg" class="img-6">
                <img src="../../../assets/icon-5.svg" class="img-6">
                <img src="../../../assets/icon-6.svg" class="img-6">
                <img src="../../../assets/icon-7.svg">
                <img src="../../../assets/icon-7.svg" class="img-8">
            </div>
            <button mat-flat-button *ngIf="show" (click)="addNotes()">Close</button>
        </div>
    </mat-card>
</div>
