<form [formGroup]=loginForm >
<div class="main-container">
    <div class="container-1">
        <div>
            <div class="text-1">
                <span style="color:rgb(61, 145, 173);">G</span>
                <span style="color:rgb(222, 18, 18);">o</span>
                <span style="color: rgb(174, 174, 20);">o</span>
                <span style="color: rgb(61, 145, 173)">g</span>
                <span style="color: rgb(41, 184, 41);">l</span>
                <span style="color: rgb(222, 18, 18)">e</span>
            </div>
        </div>
        <div class="text-2">
            <span>Sign in</span>
        </div>
        <div class="text-3">
            <span>Use your google account</span>
        </div>
        <div class="mini-container-1">
            <mat-form-field appearance="outline"  style="width: 380px;">
                <mat-label>Email or Phone</mat-label>
                <input matInput type="email" formControlName="email" placeholder="Email or Phone">
            </mat-form-field>
        </div>
        <div class="mini-container-2">
            <mat-hint><button mat-button color="primary" routerLink="/forgotemail">Forgot email ?</button></mat-hint>
        </div>
        <div class="mini-container-3">
            <mat-form-field appearance="outline" style="width: 380px;">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Password">
            </mat-form-field>
        </div>
        <div class="mini-container-4">
            <mat-hint><button mat-button color="primary" routerLink="/forgotemail">Forgot password ?</button></mat-hint>
        </div>
        <div class="text-5">
            <p>Not your computer? Use Guest mode to sign in privately.</p>
        </div>
        <div class="mini-container-5">
            <button mat-button color="primary">Learn more</button>
        </div>
        <div class="mini-container-6">
            <button mat-button color="primary" routerLink="/signup">Create account</button>
            <button mat-raised-button color="primary" (click)="login()">Next</button>
        </div>
    </div>
    <div class="container-2">
        <div class="small-input-field">
            <mat-form-field appearance="fill">
                <mat-label>English (United states)</mat-label>
                <mat-select disableRipple>
                    <mat-option value="1">Option 1</mat-option>
                    <mat-option value="2">Option 2</mat-option>
                    <mat-option value="3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="container-3">
            <div>
                <button mat-button class="text-4">Help</button>
            </div>
            <div>
                <button mat-button class="text-4">Privacy</button>
            </div>
            <div>
                <button mat-button class="text-4">Terms</button>
            </div>
        </div>
    </div>
</div>
</form>
