<form [formGroup]=emailForm>
    <div class="main-container">
        <div class="container-1">
            <div>
                <div class="text-1">
                    <span style="color:rgb(61, 145, 173);">G</span>
                    <span style="color:rgb(222, 18, 18);">o</span>
                    <span style="color: rgb(174, 174, 20);">o</span>
                    <span style="color: rgb(61, 145, 173)">g</span>
                    <span style="color: rgb(41, 184, 41);">l</span>
                    <span style="color: rgb(222, 18, 18)">e</span>
                </div>
            </div>
            <div class="text-2">
                <span>Find your email</span>
            </div>
            <div class="text-3">
                <span>Enter your phone number or recovery email</span>
            </div>
            <div class="mini-container-1">
                <mat-form-field appearance="outline" style="width: 380px;">
                    <mat-label>Phone number or Email</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="Phone number or Email">
                </mat-form-field>
            </div>
            <div class="mini-container-6">
                <button mat-raised-button color="primary" (click)="sendMailToResetPassword()">Next</button>
            </div>
        </div>
        <div class="container-2">
            <div class="small-input-field">
                <mat-form-field appearance="fill">
                    <mat-label>English (United states)</mat-label>
                    <mat-select disableRipple>
                        <mat-option value="1">Option 1</mat-option>
                        <mat-option value="2">Option 2</mat-option>
                        <mat-option value="3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="container-3">
                <div>
                    <button mat-button class="text-4">Help</button>
                </div>
                <div>
                    <button mat-button class="text-4">Privacy</button>
                </div>
                <div>
                    <button mat-button class="text-4">Terms</button>
                </div>
            </div>
        </div>
    </div>
</form>