.main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 10px;
}

.main-container img {
    opacity: 0.54;
}

.img-6 {
    height: 18px;
    width: 18px;
}

 .color-menu {
    display: flex;
    flex-direction: row;
}

.color-menu-1 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 3px;
    padding-left: 3px;
}

.color-button {   

    border-radius: 50%;
}

::ng-deep.mat-mdc-menu-item.mdc-list-item {
    align-items: center;
    height: 30px;
    width: 30px;
    min-height: 0px;
}

::ng-deep.mat-mdc-menu-panel.mat-mdc-menu-panel {
    /* min-width: 112px; */
    width: 150px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}


.color-1 {
   
    background-color: #f28b82;
    
    
}

.color-1:hover {
    background-color: #f28b82;
    border: 1px solid;
}

.color-2 {
   
    background-color: #fbbc04;
    
}

.color-2:hover {
    background-color: #fbbc04;
    border: 1px solid;
}

.color-3 {
   
    background-color: #fff475;
    
}

.color-3:hover {
    background-color: #fff475;
    border: 1px solid;
}

.color-4 {
   
    background-color: #ccff90;
    
}

.color-4:hover {
    background-color: #ccff90;
    border: 1px solid;
}

.color-5 {
   
    background-color: #a7ffeb;
    
}

.color-5:hover {
    background-color: #a7ffeb;
    border: 1px solid;
}

.color-6 {
   
    background-color: #cbf0f8;
    
}

.color-6:hover {
    background-color: #cbf0f8;
    border: 1px solid;
}

.color-7 {
   
    background-color: #aecbfa;
    
}

.color-7:hover {
    background-color: #aecbfa;
    border: 1px solid;
}

.color-8 {
   
    background-color: #d7aefb;
    
}

.color-8:hover {
    background-color: #d7aefb;
    border: 1px solid;
}

.color-9 {
   
    background-color: #fdcfe8;
    
}

.color-9:hover {
    background-color: #fdcfe8;
    border: 1px solid;
}

.color-10 {
   
    background-color: #e6c9a8;
    
}

.color-10:hover {
    background-color: #e6c9a8;
    border: 1px solid;
}

.color-11 {
   
    background-color: #e8eaed;
    
}

.color-11:hover {
    background-color: #e8eaed;
    border: 1px solid;
}

.color-12 {
   
    background-color: #fff;
    
    
}

.color-12:hover {
    background-color: #fff;
    border: 1px solid;
}

// .color-1 {
//     width: 40px;
//     height: 5px;
//     background-color: #f28b82;
//     
// }

::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel {
    /* min-width: 112px; */
    max-width: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /* position: relative; */
}


