<form [formGroup]=signupForm >
    <div class="main-container">
        <div class="main-container-1">
            <div class="main-container-2">
                <div class="text-1">
                    <span style="color:rgb(61, 145, 173);">G</span>
                    <span style="color:rgb(222, 18, 18);">o</span>
                    <span style="color: rgb(174, 174, 20);">o</span>
                    <span style="color: rgb(61, 145, 173)">g</span>
                    <span style="color: rgb(41, 184, 41);">l</span>
                    <span style="color: rgb(222, 18, 18)">e</span>
                </div>
                <div class="text-2">
                    <span>Create your Google Account</span>
                </div>
                <div class="mini-container-1">
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>First name</mat-label>
                            <input matInput formControlName="firstname" placeholder="First name">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Last name</mat-label>
                            <input matInput formControlName="lastname" placeholder="Last name">
                        </mat-form-field>
                    </p>
                </div>
                <div class="mini-container-5">
                    <p>
                        <mat-form-field appearance="outline" style="width: 445px;">
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="username" placeholder="Username" style="width: 100%;">
                            <mat-hint>You can use letter,numbers & periods</mat-hint>
                        </mat-form-field>
                    </p>
                </div>
                <div class="text-4">
                    <button mat-button color="primary">Use my current email address instead</button>
                </div>
                <div class="mini-container-4">
                    <p class="mini-container-1">
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="showpwd ? 'text' : 'password'" formControlName="password" placeholder="Password" id="password" name="password">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm</mat-label>
                            <input matInput type="password" formControlName="confirmpassword" placeholder="Confirm">
                        </mat-form-field>
                    </p>
                    <p class="text-3">
                        <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
                    </p>
                </div>
                <div>
                    <mat-checkbox class="example-margin" id="showpassword" name="showpassword" (click)="showPassword()">Show password</mat-checkbox>
                </div>
                <div class="mini-container-2">
                    <button mat-button color="primary" routerLink="/login">Sign in instead</button>
                    <button mat-raised-button color="primary" (click)="signup()">Next</button>
                </div>
            </div>
            <div class="main-container- 3">
                <img class="img-1" src="../../../assets/google-sign-up logo.png">
                <div class="container-4">
                    <span>One account. All of Google</span>
                    <span>working for you.</span>
                </div>
            </div>
        </div>
        <div class="container-2">
            <div class="small-input-field">
                <mat-form-field appearance="fill">
                    <mat-label>English (United states)</mat-label>
                    <mat-select disableRipple>
                        <mat-option value="1">Option 1</mat-option>
                        <mat-option value="2">Option 2</mat-option>
                        <mat-option value="3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="container-3">
                <div>
                    <button mat-button class="text-3">Help</button>
                </div>
                <div>
                    <button mat-button class="text-3">Privacy</button>
                </div>
                <div>
                    <button mat-button class="text-3">Terms</button>
                </div>
            </div>
        </div>
    </div>
</form>