<div class="main-container">
    <div class="cards" *ngFor="let note of noteList | search:currentValue" >

        <mat-card class="card-container" [style.background-color]="note.color">

                <div class="titleblock" (click)="openDialog(note)">
                    <div class="main-title" >
                        {{note.title}}
                    </div>
                    <div>
                        <img src="../../../assets/create-4.svg" matTooltip="Pin note">
                    </div>
                </div>
                <div class="main-description" (click)="openDialog(note)">{{note.description}}</div>
            
            <div class="iconsize">
                <app-icons [note1]="note" (repopulatePage)="refreshPage()" [isDeleted]="isDeleted" [isArchived]="isArchived"  ></app-icons>
            </div>
        </mat-card>
    </div>
</div>