
.input-card {
    margin-left: 500px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #9b9b9b;
    padding-left: 10px;
    padding-bottom: 5px;
}

input {
    border: none;
    outline: none;
    padding: 15px 15px 15px ;
    font-size: 14px;
    width: 400px;
    word-wrap: break-word; 
}

.titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iconbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
    margin-right: 20px;
}

.iconbar img {
    opacity: 0.54;
}

.iconbar-2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right: 20px;
}

.iconbar-2 img {
    opacity: 0.54;
}

.iconbar-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    height: 10px;
    width: 30px;
    opacity: 0.84;
    margin-right: 35px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
    margin-top: 10px;
}

.main-container img {
    opacity: 0.54;
}

.img-6 {
    height: 24px;
    width: 24px;
}

.icon-class {
    margin-left: 45px;
    scale: 1.1;
    transform: scaleX(1.2) scaleY(1.2);
}
